@model ErrorViewModel
@{
    ViewData["Title"] = "Erro :(";
}


<h1 class="text-danger">Erro :(</h1>
<br />
@if (Model.ShowRequestId)
{
    <p>
        <strong>Código do Erro:</strong> <code>@Model.RequestId</code>

    </p>
}
    <br />
<h4>Ocorreu um Erro no Processamento da Solicitação</h4>


<p>
    Contate o administrador para a solução do problema
</p>

